body {
    background-color: var(--tg-theme-bg-color);
  }
  
  .form {
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: var(--tg-radius-m);
    padding: var(--tg-space-m);
  }
  
  .title {
    color: var(--tg-theme-text-color);
    font-family: var(--tg-font-family);
    font-size: var(--tg-font-size-title);
  }
  
  .input {
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: var(--tg-radius-m);
    color: var(--tg-theme-text-color);
    font-size: var(--tg-font-size-input); 
  }
  
  .submit {
    border-radius: var(--tg-radius-m);
    font-size: var(--tg-font-size-input);
  }
  
  @media (max-width: 390px) {
  
    .form {
      max-height: var(--tg-space-xl);
    }
    
    .title {
      font-size: var(--tg-font-size-header);
    }
  
  }
