body {
    background-color:lightgray; /* Use Telegram theme background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--tg-viewport-height); /* Adjust height based on the visible area */
    margin: 0;
  }
  
  .form {
    background-color: var(--tg-theme-secondary-bg-color); /* Use Telegram theme secondary background color */
    border-radius: var(--tg-radius-m);
    max-width: 300px;
    width: 100%; /* Ensure full width */
    margin: 0 auto;
    padding: var(--tg-space-m);
    text-align: center;
    transition: box-shadow 0.3s ease;
  }
  .info-button-container {
    margin-top: 20px; /* Add some spacing between the form and the button */
    text-align: center;
  }
  
  .info-button {
    background-color: #3498db; /* Blue button color */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .info-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
  .form:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adjust shadow on hover */
  }
  
  .title {
    color: var(--tg-theme-text-color); /* Use Telegram theme text color */
    font-family: var(--tg-font-family);
    font-size: var(--tg-font-size-title);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #bdc3c7; /* Light border color */
    border-radius: 5px;
  }
  
  .submit {
    background-color: #4caf50; /* Green submit button */
    border: none;
    border-radius: var(--tg-radius-m);
    color: #fff;
    font-size: var(--tg-font-size-input);
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  @media (max-width: 240px) {
    .form {
      padding: 20px; /* Adjust padding for smaller screens */
    }
  
    .title {
      font-size: var(--tg-font-size-header); /* Responsive font size */
    }
  

  }
  
